//main: App.scss

.displayedRecipe{
text-align: right;
  background-color: #484646;
  padding: 1em;
  color: white;
  h1{
    padding: 1em;
    text-align: center;
  }
  .back{
    text-align: right;
    color:white;
    font-size:2rem;
    text-decoration: none;
    border:none;
    background-color: inherit;
  }
  &__hero{
    @include flex(space-around , center, row);
  }
  aside{
    min-height: 20vw;
    @include flex(space-around , center, column);
  }
  &__cook{
    @include flex(space-around, center, row);
    flex-wrap: wrap;
  }
  &__preparation, &__ingredients{
    h3{
      padding:0.5em;
    }
    min-width: 200px;
    text-align: left;
    line-height: 1.5em;
    padding: 1rem;
    max-width: 600px;
    align-self: flex-start;
  }
  ol{
    padding: 1rem;
    list-style: unset;
  }
}
