// main:App.scss

.ingredients {
  list-style: none;
  line-height: 1.5em;
  padding: 1em;
}

.ingredient {
  margin: 0.5em 0;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.checkbox {
  padding: 5px;
  margin: 0 5px;
}

.checkbox:checked + label {
  text-decoration: line-through;
}