// main:App.scss

.ingredients {
  list-style: none;
  line-height: 1.5rem;
  padding: 1.5rem;
}

.ingredient {
  margin: 0.5em 0;
}

.checkbox {
  padding: 5px;
  margin: 0 5px;
}

.checkbox:checked + label {
  text-decoration: line-through;
}