//main: App.scss

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.navbar__menu {
  background: black;
  height: 80px;
  @include flex(start, center, row);
  z-index: 99;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;

  svg {
    fill: white;
  }
}

.nav-menu {
  background-color: black;
  width: 250px;
  height: 100vh;
  @include flex(center, center, row);
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  @include flex(start, center, row);
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  width: 95%;
  height: 100%;
  @include flex(center, center, row);
  padding: 0 1rem;
  border-radius: 5px;

  &:hover {
    background-color: grey;
  }
}

nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: black;
  @include flex(start, center, row);
  align-items: center;
}

span {
  margin-left: 16px;
}

.bookmarksBtn,
.favoritsBtn {
  display: none;
  border: none;
  flex: 1 1 10rem;
  padding: 1em;
  border-radius: 5px;
  font-size: clamp(0.7rem, 3vw, 1rem);
}

.search-form {
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3 1 40rem;
  border-radius: 5px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 1em;
  border: 1px solid grey;
}

.search-button {
  background: #f7b067;
  border: none;
  padding: 1em 2em;
}