//main: App.scss

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.bookmarksBtn, .favoritsBtn{
  border: none;
  flex: 1 1 10rem;
  padding: 1em;
  border-radius: 5px;
}

.search-form{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3 1 40rem;
  border-radius: 5px;

}

.search-bar{
  width: 50%;
  border:none;
  padding: 1em;
  border: 1px solid grey;
}

.search-button{
  background: #f7b067;
  border:none;
  padding: 1em 2em;
}
