* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@mixin flex($justfy, $align, $direction) {
  display: flex;
  justify-content: $justfy;
  align-items: $align;
  flex-direction: $direction;
}
@import "navbar";
@import "searchbar";
@import "recipes";
@import "ingredient";
@import "bookmarkFavorite";
@import "flipBox";
@import "displayedRecipe";
@import "chatbox";
@import "login";
@import "loader";

img {
  border-radius: 5px;
}

.App {
  min-height: 100vh;
}
