*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@import 'navbar';
@import 'recipes';
@import 'ingredient';
@import 'bookmarkFavorite';




.App {
min-height: 100vh;
background-image: linear-gradient(rgb(222, 231, 211),rgb(93, 140, 71), rgb(223, 161, 116));
}
