//main: App.scss

.mainbox {
  height: 90vh;
  overflow-y:scroll;
}

.chatpage {
  background: url("../img/chatBG.png");
  width: clamp(200px, 80%, 800px);
  height: clamp(500px, 90%, 800px);
  margin: auto;
  background-size: contain;
}

.bubble {
  background: white;
  padding: 1rem;
  margin: 1rem;
  width: clamp(150px, 60%, 400px) ;
  border-radius: 5px;
  &__name {
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  }
  &__text {
    padding: 0.5rem 0;
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
  &__time {
    color: grey;
    font-size: clamp(0.6rem, 1vw, 0.8rem);
    text-align: right;
  }
}

.mybubble{
  position: relative;
  left: 20%;
  background-color: rgb(246, 228, 175);
}

.chatinput{
  background: black;
  min-height: 4rem;
  @include flex (space-around, center, row);
  textarea{
    width: 80%;
    min-height: 4rem;
    padding: 0.4rem;
    margin:0.2rem;
    border-radius: 5px;
  }
  button{
    border:none;
    background: white;
    padding: 0.5em;
    margin:1rem;
    border-radius: 5px;
  }
}
