//main: App.scss

.flip_box {
  border-radius: 5px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 10px;
  box-shadow: 0 0 5px 3px grey;
}

.flip_box:hover .flip_box__inner {
  box-shadow: 0 0 5px 5px grey;
  transform: rotateY(180deg);
}

.flip_box__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s ease-in;
  transform-style: preserve-3d;
}

.flip_box__active {
  transform: rotateY(180deg);
}

.flip_box__back,
.flip_box__front {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip_box__front {
  background-color: #bbb;
  color: black;
}

.flip_box__back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 100%;
  background-color: grey;
  color: white;
  transform: rotateY(180deg);
  padding: 2rem;
}

.flip_box__back a {
  text-decoration: none;
  color: #F1641E;
  font-size: 1.5rem;
  font-weight: bold;
  background: white;
  padding: 3px;
  border-radius: 5px;
}