.recipe{
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(21, 22, 21, 0.5);
  margin: 10px;
  align-items: center;
  background: white;
  width:20rem;
}

.header{
  display: flex;
}

.icons{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.title{
 font-size: 1.2rem;
}

.about{

}

.image{
  border-radius: 5px;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.nutrition{
   color:orange;
   font-size: 0.8rem;
}

.recipe__fotos{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
