.recipe{
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(21, 22, 21, 0.5);
  margin: 20px;
  padding: 15px;
  align-items: center;
  background: white;
  width:30rem;
}

.header{
  display: flex;
}

.title{
  flex:3 1 80%;
}

.about{

}

.image{
  width:100%;
  object-fit: cover;
  height: 250px;
}

.nutrition{
   color:orange;
   font-size: 0.8rem;
}
